<div class="nav-bar-container">
    <a class="menu-item" href="/AdminApproval">
        Admin
    </a>
    <a class="menu-item" href="/Shops">
        Shops
    </a>
    <a class="menu-item" href="/">
        Dashboard
    </a>
    <a class="menu-item" href="/Profile">
        Profile
    </a>
    <a class="menu-item" href="/AvailableItems">
        Items
    </a>
    <a class="menu-item" href="/Donate">
        Donate
    </a>
    <a class="menu-item" href="/">
        Logout
    </a>
</div>


@code {

}
